{% extends "base.html.j2" %}

{% block title %}{{ post.title }} | {{ resume.name }}{% endblock %}

{% block content %}
<article>
    <h1 style="color: var(--accent);">{{ post.title }}</h1>
    <div class="meta" style="margin-bottom: 2rem;">Published on {{ post.date }}</div>
    
    <div style="line-height: 1.8;">
        {{ post.content | safe }}
    </div>
</article>

<div style="margin-top: 4rem; border-top: 1px solid var(--border); padding-top: 1rem;">
    <a href="/blog/" class="link">cd ../</a>
</div>
{% endblock %}
